<div class="user_summary_title">Your current status</div>
<div class="summary_list row">
    <div class="col-xs-8 summary_points">Points</div>
    <div class="col-xs-4"><%= totalPointsEarned %></div>
    <div class="col-xs-8 summary_questions_answered">Questions Answered</div>
    <div class="col-xs-4"><%= contestsEntered %></div>
    <div class="col-xs-8 summary_questions_created">Questions Created</div>
    <div class="col-xs-4"><%= contestsCreated %></div>
    <div class="col-xs-8 summary_likes">Likes</div>
    <div class="col-xs-4"><%= contestsLikedCount %></div>
    <div class="col-xs-8 summary_comments">Comments</div>
    <div class="col-xs-4"><%= contestsCommentedOnCount %></div>
</div>
